// The Fifty Acres Palette
$sage-green: #8da076;
$cream-paper: #f4eee0;
$typewriter-black: #2d2d2d;
$border-tan: #e2dac6;

// Layout Variables
$sidebar-width: 280px;

// Override Default Theme Variables
$background-color: $cream-paper;
$primary-color: $sage-green;
$text-color: $typewriter-black;