$sage-green: #9da06f;
$old-lace: #fdf9f2;
$typewriter-black: #050609;
$dusty-mauve: #783438;
$rusty-spice: #b25424;
$faded-mauve: #bc6268;
$faded-spice: #dc8356;
$wheat: #f3ddba;

// 2. Then map them to the CSS variables
:root {
    --gray: #ababab;
    --bold: color-mix(in srgb, var(--gray), black 40%);
    --light: color-mix(in srgb, var(--gray), white 60%);
    --sage-green: #{$sage-green};
    --old-lace: #{$old-lace};
    --typewriter-black: #{$typewriter-black};
    --rusty-spice: #{$rusty-spice};
    --dusty-mauve: #{$dusty-mauve};
    --black: #{$typewriter-black};
    --faded-mauve: #{$faded-mauve};
    --faded-spice: #{$faded-spice};
    --wheat: #{$wheat};
}

// Typography
$base-font-size: 1rem;
$base-line-height: 1.7rem;

// Primary body text font
@font-face {
    font-family: 'gandhi_serifregular';
    src: url('../fonts/webfonts/ghandi/GandhiSerif-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Primary heading font
@font-face {
    font-family: 'cardoregular';
    src: url('../fonts/webfonts/cardo/cardo-regular-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/cardo/cardo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cardobold';
    src: url('../fonts/webfonts/cardo/cardo-bold-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/cardo/cardo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Primary sans-serif
@font-face {
    font-family: 'Lato';
    font-style: italic; font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format('woff2');
}

// Handwriting font
@font-face {
    font-family: 'cartoonist';
    src: url('../fonts/webfonts/cartoonist/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Units

$spacing-s: .25 * $base-line-height;
$spacing-m: .5 * $base-line-height;
$spacing-l: $base-line-height;
